@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.banner-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.meta-section {
    display: flex;
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-color {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    color: #fff;
    font-size: 1.25rem;
    padding: 20px 25px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: #FF5400;
}

. {
    color: ;
}

header {
    padding: 50px 240px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-btn {
    color: #FF5400;
}

nav h2 .travel {
    color: #FF5400;
}

nav h2 {
    display: flex;
}

nav .home-btn a {
    color: #FF5400;
}

nav>ul {
    display: flex;
}


nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


.section-container {
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 600px;
    width: 1140px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 10px;
}
.section-container img{
    margin-top: 20px;
    width: 100%;
}
.section-Title {
    color: #fff;
    text-align: center;
    font-size: 70px;
    font-weight: 400;
}

.section-Description {
    color: #fff;
    text-align: center;
    font-size: ;
    font-style: normal;
    margin-bottom: 50px;
}

.input {
    border-radius: 10px;
    background: #FFF;
    width: 150px;
    height: 52px;
    border: 0;
    outline: 0;
    background: #FFF;
}

.inputParent {
    display: flex;
    padding: 10px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.btn-class {
    border: 0;
    outline: 0;
    color: wheat;
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}

.popular-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 100px;
   
}



.popular-title {
    color: #131318;
    margin-bottom: 0;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.pera .text-color {
    margin-left: 0;
}

.destinaion-section {
    text-align: center;
}

.img-decoration {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

.img-decoration2 {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

.img-decoration3 {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
}
.bagan-class{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Bagan-section {
    align-items: center;
}

.class-title {
    text-align: center;
}

.text-color {
    text-align: center;
}

.img-class {
    margin-top: 20px;
    width: 100%;
}

main {
    padding: 50px 240px;
    width: 100%;
    
}

.section-head {
    text-align: center;
}

.choose-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.page-Title {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.section-head{
    
    align-items: center;
    justify-content: center;
}

.dual-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hotel-deals {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    text-align: center;

}

.map-sevice {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    text-align: center;
}

.price-tag-section {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

}

.place-section {
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.offer-img {
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.offer-description {
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    text-align: center;
}

.entry-section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.bordar-side {
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 50px 240px;
}


@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .destinaion-section,
    .img-decoration,
    .img-decoration2,
    .img-decoration3,
    .section-container,
    .bagan-class,
    .popular-section{
        flex-direction: column;
    }
    .img-decoration,
    .img-decoration3,
    {
        max-width: 45%;
        position: static;
    }
    .bagan-class .img-class{
        max-width: 45%;
        position: static;
    }
}


